body {
	background-color: #282828;
	color: #e0b595;
}

.flex-container {
	display: flex;
}

a {
	color: white;
}

.label {
	padding: 4px;
	background: black;
	color: white;
}

.right {
	position: absolute;
	right: 0;
}

.top {
	position: absolute;
	top: 0;
}

.bottom {
	position: absolute;
	bottom: 0;
}
