body {
	background-color: #282828;
	color: #e0b595;
}

#gfx_container {
	flex: 7;
}

#gfx {
	position: relative;
	z-index: -1;
	padding: 10px;
}

.flex-container {
	display: flex;
}

a {
	color: white;
}

.label {
	padding: 4px;
	background: #000000AA;
	color: white;
}

.curved {
	padding: 4px;
	background: #454e10aa;
	color: yellow;
}

.right {
	position: absolute;
	right: 0;
}

.top {
	position: absolute;
	top: 0;
}

.bottom {
	position: absolute;
	bottom: 0;
}

#thumbnail {
	width: 100%;
	object-fit: contain;
	background-color: gray;
	/* center items */
	display: flex;
	justify-content: center;
}

#thumbnail_button {
	max-width: 32px;
	max-height: 32px;
}
